In [1]:
%load_ext sql

In [2]:
import configparser
import psycopg2

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn_string = "postgresql://{}:{}@{}:{}/{}".format(config.get('CLUSTER', 'DB_USER'),
                                                    config.get('CLUSTER', 'DB_PASSWORD'),
                                                    config.get('CLUSTER', 'HOST'),
                                                    config.get('CLUSTER', 'DB_PORT'),
                                                    config.get('CLUSTER', 'DB_NAME'))
%sql $conn_string

In [4]:
%sql SELECT COUNT(*) FROM staging_events;

 * postgresql://awsuser:***@udacity-project3-cluster.c1aeu9zsflig.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [5]:
%sql SELECT COUNT(*) FROM staging_songs;

 * postgresql://awsuser:***@udacity-project3-cluster.c1aeu9zsflig.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [6]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://awsuser:***@udacity-project3-cluster.c1aeu9zsflig.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(333,)]

In [7]:
%sql SELECT COUNT(*) FROM users;

 * postgresql://awsuser:***@udacity-project3-cluster.c1aeu9zsflig.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(107,)]

In [8]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://awsuser:***@udacity-project3-cluster.c1aeu9zsflig.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [9]:
%sql SELECT COUNT(*) FROM artists;

 * postgresql://awsuser:***@udacity-project3-cluster.c1aeu9zsflig.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(10025,)]

In [10]:
%sql SELECT COUNT(*) FROM time;

 * postgresql://awsuser:***@udacity-project3-cluster.c1aeu9zsflig.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8023,)]